<!--
  Generated template for the RemodelacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title style= "background-color: rgb(243, 209, 221)">
      <h2 style="color: white">
          Venta de Remodelaciones
      </h2>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)= "buscar()" icon-only  color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style= "background-color: rgb(251, 207, 223)" >
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor = "let rem of remodelaciones">
        <ion-card style= "background-color: rgb(221, 102, 148)" (click)= "verRem(rem)">
          <img *ngIf = "rem.ad.hasOwnProperty('thumbnail')"
          src= "http://img.segundamano.mx/cover/{{rem.ad.thumbnail.path}}">
          <img *ngIf = "!rem.ad.hasOwnProperty('thumbnail')"
          src= "../assets/imgs/logo.png">
          <h2  style="color: white" *ngIf = "rem.ad.hasOwnProperty('subject')">
           {{rem.ad.subject}}
          </h2>
          <h2 style="color: white" *ngIf = "rem.ad.hasOwnProperty('locations')">
          {{rem.ad.locations[0].locations[0].label}}, {{rem.ad.locations[0].label}}
          </h2>
          <h1  *ngIf = "rem.ad.hasOwnProperty('list_price')">
            {{rem.ad.list_price.label}} {{rem.ad.list_price.currency}}
           </h1>
           <h3 style="color: white"  *ngIf = "rem.ad.hasOwnProperty('list_time')">
           {{rem.ad.list_time.label}}
           </h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>