<ion-header>
  <ion-toolbar>
    <ion-title>
     Venta de Computadoras
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only  color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor = "let compu of computadoras">
        <ion-card (click)= "verCompu(compu)">
          <img *ngIf = "compu.ad.hasOwnProperty('thumbnail')"
          src= "http://img.segundamano.mx/cover/{{compu.ad.thumbnail.path}}">
          <img *ngIf = "!compu.ad.hasOwnProperty('thumbnail')"
          src= "../assets/imgs/logo.png">
          <h2 *ngIf = "compu.ad.hasOwnProperty('subject')">
           {{compu.ad.subject}}
          </h2>
          <h2 *ngIf = "compu.ad.hasOwnProperty('locations')">
          {{compu.ad.locations[0].locations[0].label}}, {{compu.ad.locations[0].label}}
          </h2>
          <h1 *ngIf = "compu.ad.hasOwnProperty('list_price')">
            {{compu.ad.list_price.label}} {{compu.ad.list_price.currency}}
           </h1>
           <h3  *ngIf = "compu.ad.hasOwnProperty('list_time')">
           {{compu.ad.list_time.label}}
           </h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
