<!--
  Generated template for the VideojuegosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: rgb(216, 200, 210)">
     <h2 style= "color: rgb(255, 255, 255)">
       Venta de Videojuegos
     </h2>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)= "buscar()" icon-only  color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color: rgb(216, 200, 210)">
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor = "let juego of videojuegos">
        <ion-card style="background-color: #584B53" (click)= "verJuego(juego)">
          <img *ngIf = "juego.ad.hasOwnProperty('thumbnail')"
          src= "http://img.segundamano.mx/cover/{{juego.ad.thumbnail.path}}">
          <img *ngIf = "!juego.ad.hasOwnProperty('thumbnail')"
          src= "../assets/imgs/logo.png">
          <h2 style="color: #FEF5EF" *ngIf = "juego.ad.hasOwnProperty('subject')">
           {{juego.ad.subject}}
          </h2>
          <h2 style="color: #FEF5EF"*ngIf = "juego.ad.hasOwnProperty('locations')">
          {{juego.ad.locations[0].locations[0].label}}, {{juego.ad.locations[0].label}}
          </h2>
          <h1 style="color: rgb(161, 193, 243) " *ngIf = "juego.ad.hasOwnProperty('list_price')">
            {{juego.ad.list_price.label}} {{juego.ad.list_price.currency}}
           </h1>
           <h3 style="color: #FEF5EF" *ngIf = "juego.ad.hasOwnProperty('list_time')">
           {{juego.ad.list_time.label}}
           </h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
